.Create .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Create form {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Create form div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.Create input {
  height: 30px;
  width: 400px;
  font-size: 1.05em;
  border-radius: 5px;
  border: none;
}

.Create textarea {
  width: 400px;
  min-height: 100px;
  height: 250px;
  resize: vertical;
  font-family: inherit;
  font-size: 1.05em;
  border-radius: 5px;
  border: none;
}

.Create #error {
  color: red;
  padding: 0;
  margin: 0;
}

.Create form .button {
  display: flex;
  justify-content: flex-end;
}

.Create #postButton {
  width: 20%;
  height: 40px;
  background-color: lightgreen;
  border: 1px black solid;
}

.Create #postButton:hover {
  border: 2px black solid;
  cursor: pointer;
}

.Create #postButton:active {
  background-color: green;
}
