$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

//GLOBAL CSSS
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  flex-direction: column;
}
.Header {
  //sticking to the top
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: bisque;

  .left {
    margin-left: 4vw;
    display: flex;
    align-items: center;
  }
  p {
    margin: 0 1vw;
    padding: 0;
  }
  .right {
    margin-right: 4vw;
    display: flex;
    align-items: center;
  }
  .link {
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 0 0 1vw;
    color: black;
  }
  .link:hover {
    text-decoration: underline;
  }
  .link:active {
    color: red;
    text-decoration: underline;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
.Post {
  margin: 4vh 0;
  max-width: 600px;
  div {
    background-color: blanchedalmond;
    padding: 4vh 4vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  p {
    margin: 0;
  }
  #title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  #author {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }
  #date {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: grey;
  }
  #tags {
    font-style: italic;
    color: grey;
    font-size: 0.8em;
  }
  #content {
    margin-top: 4vh;
    font-size: 1.1em;
    white-space: pre-wrap;
  }
}
.DropDown {
  background-color: bisque;
}
.Create {
  $form-width: 50vw;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form {
    /* padding: 40px 80px; */
    padding: 2vh 4vw;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  form div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  input {
    height: 5vh;
    width: $form-width;
    border-radius: 5px;
    border: none;
  }
  textarea {
    width: $form-width;
    min-height: 100px;
    height: 25vh;
    resize: vertical;
    font-family: inherit;
    border-radius: 5px;
    border: none;
  }
  #error {
    color: red;
    padding: 0;
    margin: 0;
  }
  form .button {
    display: flex;
    justify-content: flex-end;
  }
  #postButton {
    width: 20%;
    height: 40px;
    background-color: lightgreen;
    border: 1px black solid;
  }
  #postButton:hover {
    border: 2px black solid;
    cursor: pointer;
  }
  #postButton:active {
    background-color: green;
  }
}
.Home {
  padding: 20px 4vw;
  width: fit-content;
  p {
    padding: 0;
  }
  #pageNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    width: 40%;
    height: 40px;
    background-color: lightgreen;
    border: 1px black solid;
  }
  button:hover {
    border: 2px black solid;
    cursor: pointer;
  }
  button:active {
    background-color: green;
  }
}

//PHONE CSS
@media (min-width: $breakpoint-phone) {
  body {
    font-size: 0.8em;
  }
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;

    .message {
      display: none;
    }
    .link {
      display: none;
    }
    .menu {
      height: 30px;
    }
    .cross {
      display: none;
      height: 25px;
    }
    .DropDown {
      position: absolute;
      top: 50px;
      right: 4vw;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 20px 16px,
        rgba(17, 17, 26, 0.05) 0px 18px 32px;
      padding: 10px;
      display: none;
      flex-direction: column;

      .droplink {
        font-size: 1.5em;
        text-decoration: none;
        margin: 0 0 0 1vw;
        padding: 10px;
        color: black;
      }
    }
  }
}

//TABLET CSS
@media (min-width: $breakpoint-tablet) {
  body {
    font-size: 0.9em;
  }
  .Header {
    .message {
      display: block;
    }
    .link {
      display: block;
    }
    .menu {
      display: none;
    }
    .cross {
      display: none;
    }
    .DropDown {
      display: none;
    }
  }
}

//DESKTOP CSS
@media (min-width: $breakpoint-desktop) {
  body {
    font-size: 1em;
  }
}
