$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

//GLOBAL CSSS
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  flex-direction: column;
}
.Header {
  //sticking to the top
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  .left {
    margin-left: 4vw;
    display: flex;
    align-items: center;
  }
  p {
    margin: 0 1vw;
    padding: 0;
  }
  .right {
    margin-right: 4vw;
    display: flex;
    align-items: center;
  }
  .link {
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 0 0 1vw;
    color: black;
  }
  .link:hover {
    text-decoration: underline;
  }
  .link:active {
    color: red;
    text-decoration: underline;
  }
}
.Post {
  margin: 4vh 0;
  max-width: 600px;
  div {
    background-color: blanchedalmond;
    padding: 4vh 4vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  p {
    margin: 0;
  }
  #title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  #author {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }
  #date {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: grey;
  }
  #tags {
    font-style: italic;
    color: grey;
    font-size: 0.8em;
  }
  #content {
    margin-top: 4vh;
    font-size: 1.1em;
    white-space: pre-wrap;
  }
}
.DropDown {
  background-color: bisque;
}

//PHONE CSS
@media (min-width: $breakpoint-phone) {
  body {
    font-size: 0.8em;
  }
  .Header {
    background-color: bisque;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;

    .message {
      display: none;
    }
    .link {
      display: none;
    }
    .menu {
      height: 25px;
    }
    .cross {
      display: none;
      height: 25px;
    }
    .DropDown {
      position: absolute;
      top: 50px;
    }
  }
}

//TABLET CSS
@media (min-width: $breakpoint-tablet) {
  body {
    font-size: 0.9em;
  }
  .Header {
    .message {
      display: block;
    }
    .link {
      display: block;
    }
    .menu {
      display: none;
    }
  }
}

//DESKTOP CSS
@media (min-width: $breakpoint-desktop) {
  body {
    font-size: 1em;
  }
}
